/* 
.slider .center{
    text-align: center;
    margin: 0 auto;
    padding: 2rem ;
}
.card-div .detail{
    display: none;
    padding: 1rem;
} 

@media only screen and (min-width: 1024px){
    .card-div:hover .detail{
        display: block;
        transition: all 650m ease;
    }
    
} 
@media only screen and (max-width: 1024px){
    
    .slider .center{
        text-align: center;
        margin: 0 auto;
        padding: 1rem ;
    }
} 
@media only screen and (max-width: 768px){
    
    .slider .center{
        text-align: center;
        margin: 0 auto;
        padding: 1rem ;
    }
}  */